.button {
  display: inline-block;
  line-height: 4.8rem;
  padding-inline: 2.6rem;
  border-radius: 12rem;

  &--primary {
    background-color: var(--brand-yellow);
    color: var(--gray-500);
    transition: filter 0.3s ease-in-out;
    &:hover {
      filter: brightness(1.2);
    }
  }

  &--secondary {
    background-color: transparent;
    color: var(--brand-blue);
    border: 1px solid var(--brand-light-blue);
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--brand-blue);
      color: var(--gray-100);
    }
  }

  &--secondary--light {
    border: 1px solid var(--gray-100);
    background-color: transparent;
    color: var(--gray-100);
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--gray-100);
      color: var(--gray-500);
    }
  }
}
