.hero {
  width: 100%;
  height: 786px;

  background: url("../../src/image/bg-hero.svg") no-repeat center center;
  padding-top: 175px;
  .container {
    @include flex(row, flex-start, space-between);
  }
  &__content-text {
    width: 100%;
    max-width: 684px;
  }
  &__title {
    color: var(--gray-100);
    margin-bottom: 32px;
  }
  &__subtitle {
    color: var(--gray-100);
    font-weight: 600;
    margin-bottom: 39px;
  }

  &__list {
    @include flex;
  }

  &__item {
    max-width: 621px;
    width: 100%;
    display: flex;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-100);
    gap: 12px;
  }

  &__icon {
    @include flex(row, center, center);
    max-width: 48px;
    width: 100%;
    height: 48px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
  }

  button {
    margin-bottom: 64px;
  }

  &__content-image {
    width: 100%;
    max-width: 706px;
    margin-right: -184px;

    &-title {
      margin-bottom: 60px;
      text-align: center;
      color: var(--gray-100);
      font-weight: 600;
      opacity: 0.4;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 541px;
    top: 43px;

    &-card-front,
    &-card-back,
    &-circle-card {
      position: absolute;
    }

    &-card-front {
      z-index: 3;
      top: 41px;
    }
    &-card-back {
      z-index: 2;
      right: 86px;
      bottom: 46px;
    }

    &-circle-card {
      top: 28px;
      right: 43px;
      z-index: 1;
    }
  }
}

.card-neon {
  margin-bottom: 13.4rem;
  padding: 129px 0 0 0;

  .container {
    @include flex(row, flex-start, space-between);
  }

  &__left {
    width: 100%;
    max-width: 27.7rem;
  }

  &__mockup {
    width: 100%;
    max-width: 27.7rem;
    position: relative;

    margin-bottom: 6rem;
    z-index: 2;
    &-circle {
      position: absolute;
      max-width: 37.7rem;
      z-index: 1;
      top: 8.7rem;
      right: 11.5rem;
    }
  }

  &__text {
    width: 100%;
    max-width: 27.7rem;
    @include flex(column, center, center);
    text-align: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 83px;
      top: -104px;
      left: 50%;
      right: 50%;
      z-index: 33;
      background: url("../image/points.svg") no-repeat;
    }
  }

  &__icon {
    margin-bottom: 3.1rem;
  }

  &__info {
    h3 {
      margin-bottom: 3.1rem;
    }
    p {
      font-family: "Inter";
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      margin-bottom: 1.8rem;
      color: var(--gray-400);
    }
  }
  &__list {
    li {
      margin-bottom: 2.141rem;
    }
  }

  &__right {
    max-width: 80rem;
    width: 100%;

    &--title {
      max-width: 48.8rem;
      margin-bottom: 4.9rem;
    }

    &--list {
      margin-bottom: 3.2rem;
    }

    &--item {
      @include flex(row, center, space-between);
      gap: 3.5rem;
      border-bottom: 1px solid rgba(225, 234, 231, 0.9);
      padding: 3.3rem 0;
      &:first-child {
        padding-top: 0;
      }

      img {
        display: block;
      }
      h3 {
      }
      p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: var(--gray-300);
      }
    }

    &--info {
      @include flex(column, flex-start, center);
      width: 100%;
    }

    &--link {
      font-weight: 500;
      font-size: 16px;
      line-height: 112%;

      letter-spacing: -0.5px;
      margin-bottom: 17.4rem;
      display: inline-block;
      color: var(--brand-blue);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: -1.8rem;
        bottom: 0;
        display: block;
        width: 10px;
        height: 3px;
        background: var(--brand-yellow);
      }
    }
  }

  &__box {
    width: 100%;
    height: 41rem;
    @include flex(row, center, justify-between);
    background: url("../../src/image/bg-box-card-neon.svg") no-repeat center center;
    border-radius: 1.2rem;
    padding-left: 39px;

    &--title {
      color: var(--gray-100);
      margin-bottom: 1.1rem;
    }
    &--subtitle {
      color: var(--gray-100);
      margin-bottom: 0.8rem;
      max-width: 32.7rem;
    }

    p {
      font-family: "Inter";
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--gray-100);
      max-width: 32.7rem;
      margin-bottom: 3.1rem;
    }
    &--button {
      @include flex(row, center, flex-start);
      gap: 1.6rem;
    }
    &--left {
      width: 100%;
      max-width: 50rem;
    }
    &--right {
      margin-right: -3.2rem;
    }
  }
}

.card-depoimentos {
  margin-bottom: 13.4rem;
  &__title {
    margin-bottom: 4rem;
    span {
      display: block;
      color: var(--gray-200);
      margin-bottom: 1.4rem;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .swiper-pagination {
      position: relative !important;
      max-width: 10%;
    }
    .swiper-pagination-bullet {
      width: 8.62px;
      height: 7px;
      transition: all 0.3s;
      background: #ffc800;
      border-radius: 12px;
      &-active {
        width: 17.23px;
        height: 7px;
        background: #ffc800;
        border-radius: 12px;
      }
    }
  }
  &__slider {
    overflow: hidden;
  }
}

.conta-digital {
  padding-bottom: 18.5rem;

  .container {
    @include flex(row, center);
  }

  &__left {
    max-width: 60.2rem;

    &--title {
      color: var(--gray-600);
      margin-bottom: 4.5rem;
      span {
        display: block;
        color: var(--gray-200);
        margin-bottom: 0.9rem;
      }
    }
  }
  &__list {
    @include flex(column, flex-start, center);
    gap: 5px;
  }

  &__item {
    @include flex(row, center, center);
    margin-bottom: 3.7rem;
    gap: 2.6rem;
    &--img {
      background-color: var(--brand-green-light);
      width: 45px;
      height: 45px;
      border-radius: 1rem;

      @include flex(row, center, center);
    }
  }

  &__right {
    position: relative;
    max-width: 71.2rem;
    margin-right: -150px;
    width: 100%;
    height: 59.8rem;
    &--mockup-01 {
      position: absolute;
      top: 3px;
      left: 258px;
    }
    &--mockup-02 {
      position: absolute;
      bottom: 5.4rem;
      left: 0;
    }
    &--mockup-03 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
.banco-footer {
  background-color: var(--brand-blue);
  padding-top: 4.9rem;

  &__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 4.9rem;
    @include flex(row, center, space-between);
    &--social {
      @include flex(row, center, center);
      gap: 1.6rem;

      span {
        font-family: "Inter";
        font-size: 14px;
        line-height: 125%;
        color: rgba(255, 255, 255, 0.7);
        display: block;
        height: 50px;
        line-height: 43px;
      }
    }
    &--list {
      @include flex(row, center, center);
      gap: 2.6rem;
    }
  }

  &__body {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 5.7rem;
    padding-bottom: 6.2rem;
    gap: 77px;
    @include flex(row, flex-start, space-between);
    nav {
      width: 100%;
      @include flex(row, flex-start, space-between);

      gap: 30px;
    }

    &--list {
      ul {
        li {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.7);
          margin-bottom: 29px;
        }
      }
      &__menu01 {
        max-width: 136px;
        width: 100%;
      }
      &__menu02 {
        max-width: 129px;
        width: 100%;
      }
      &__menu03 {
        max-width: 187px;
        width: 100%;
      }
      &__menu04 {
        max-width: 186px;
        width: 100%;
      }
      &__menu05 {
        max-width: 107px;
        width: 100%;
      }

      span {
        display: block;
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: var(--gray-100);
      }
    }

    &--buttons {
      @include flex(column, flex-start, center);

      max-width: 280px;
      width: 100%;
      button {
        width: 100%;
        padding: 17px 25px;
        margin-bottom: 24px;
        border-radius: 6px;
        background-color: var(--brand-light-blue);
        @include flex(row, center, flex-start);
        color: var(--gray-100);
        gap: 2.4rem;
        & > div {
          @include flex(column, flex-start, space-between);

          span {
            display: block;

            font-family: "Inter";
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
          }
          p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
          }
        }
      }
    }
  }

  &__message {
    width: 100%;
    padding-top: 3.9rem;

    &--up {
      @include flex(row, center, flex-start);
      width: 100%;
      gap: 25px;
      color: var(--gray-100);
      padding-bottom: 3.8rem;
      max-width: 79rem;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--brand-yellow);
    }
  }
}
